body{
    
    margin-left:10px;
    margin-right:10px
}
.wrapper {
    background-color:rgb(88, 74, 207);
    border: 4px solid rgba(0, 0, 0, 0.774);
    width: 420px;
    color: white;
    padding: 20px;
}
input[type=Submit]{
    background-color:rgb(185, 167, 10);
    border: none;
    border-radius: 7px;
    font-weight: bold;
    border: none;
    width: 150px;
    height: 30px;
    color: white;
    margin-left:100px;
    margin-right: auto;
}